
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    /* background-color: rgb(99, 231, 156); */
}

* a {
    display: inline-block;
    text-decoration: none;
    /* background-color: yellow; */
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: visible;
    padding: 10px;
    margin: 2px;
    color: #fff;
    transition: 0.3s all;
}

a:hover {
   
    color: #f349bd;

}

body {
    background: #242424;
    color: #fff;
}

.nav-items {
    /* background-color: aqua; */
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(255,255,255,0.1);
  
}



.nav-items li {
    position: relative;
    margin: -2px;
}

.drop-down, .sub-menu {
    display: block;
}

.drop-down {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
}

.drop-down > li {
    position: relative;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
    width: 190px;
    padding: 5px;
    margin: 1px;
    box-shadow: 1px 2px 8px rgba(255,255,255,0.1);
}

.sub-menu {
    display: none;
    position: absolute;
    top: -1px;
    left: 191px;
}

.sub-menu > li {
    position: relative;
    background-color: rgba(0,0,0,0.2);
    width: 191px;
    padding: 5px;
    margin: 1px;
    font-size: 0.8rem;
    box-shadow: 1px 2px 8px rgba(255,255,255,0.1);
}


.nav-items li:hover .drop-down {
    display: block;
}

.drop-down li:hover .sub-menu {
    display: block;
}

/* bunos styling */

spline-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.nav-items {
    padding-left: 20px;
}


